$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tiertiary: #99e2d0;
$grey: #f6f6f6;
$dark: #353535;

$margin: 20px;
$padding: 20px;

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
