
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tiertiary:#99E2d0;
$grey: #f6f6f6;
$dark: #353535;


$margin: 20px;
$padding: 20px;


$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
