* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

html {
  font-size: 16px;
}

body {
  color: black;
  background-color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem #00000073;
          box-shadow: 0 0 0.5rem #00000073;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.location {
  background-color: #eaeaea;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  text-align: center;
}

#sect-restau {
  background-color: #f6f6f6;
}

.footer {
  background-color: #353535;
  height: 200px;
  padding: 20px;
}

.footer .footer__content {
  max-width: 1200px;
  margin: auto;
}

.footer__body {
  margin-left: 10px;
  color: #fff;
  max-width: 1200px;
}

.footer__body li {
  margin-bottom: 10PX;
}

.footer__body i {
  margin-right: 10px;
}

.footer__body a {
  color: #c2c2c2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__body a:hover {
  color: #fafafa;
}

.site__content {
  max-width: 1200px;
  margin: auto;
}

.menu__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.menu-container {
  background-color: white;
  border-radius: 40px;
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  max-width: 1200px;
  margin: auto;
  height: 740px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1000px) {
  .site__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
  .site__content .function {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 20px;
    margin-top: 20px;
  }
  .site__content #sect-restau {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .function__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1000px) {
  .function__content {
    display: block;
  }
}

.badge {
  width: 80px;
  height: 30px;
  background-color: #99E2d0;
  padding: 5px;
  position: absolute;
  -webkit-transform: translate(210px, 10px);
          transform: translate(210px, 10px);
  text-align: center;
}

.back__icon {
  position: relative;
  top: 20px;
  left: 50px;
}

.back__icon a i {
  font-size: 2rem;
}

.header__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 2rem;
  margin: auto;
  padding-top: 15px;
  padding-left: 10px;
}

.fa-map-marker-alt {
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.city {
  font-size: 1.2rem;
  font-weight: bolder;
}

.title {
  background-color: #f6f6f6;
  padding: 40px 30px 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title__big {
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 700;
}

.title__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.title__btn {
  width: 220px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(29%, #9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc 29%, #ff79da 100%);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 15px;
}

.title__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(29%, #b281ee), to(#ff79da));
  background: linear-gradient(180deg, #b281ee 29%, #ff79da 100%);
  font-size: 1rem;
}

.function__title {
  margin-top: 20px;
  font-weight: 700;
  padding-left: 35px;
}

.function__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.function__content .function__element {
  background-color: #f6f6f6;
  margin: 20px;
  padding-top: 15px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-width: 290px;
  max-width: 350px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.function__content .function__element i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.function__content .function__element:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.4);
  background: rgba(146, 86, 220, 0.156) 29%;
}

.function__content .function__element:hover i {
  color: #9356DC;
}

.function__content .function__element .circle {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: #fff;
  display: block;
  border-radius: 50%;
  left: -50px;
  position: absolute;
  left: -5px;
  text-align: center;
}

.function__content .function__element i {
  font-size: 1rem;
  font-weight: 600;
  color: #7e7e7e;
  justify-self: flex-end;
  position: relative;
  left: -20px;
}

.restaurant__title {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 700;
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  background-color: white;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card__thumb {
  max-height: 250px;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card__footer {
  padding: 10px 10px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.65);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.65);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .heart__icon {
  height: 25px;
  width: 25px;
}

.card .heart__icon path {
  fill-opacity: 0;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  stroke-width: 15px;
}

.card .heart__icon path:hover {
  fill-opacity: 1;
}

.card .heart__icon svg {
  padding-left: 20px;
  padding-top: 10px;
}

.head__thumbs img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title .heart__icon {
  height: 25px;
  width: 25px;
}

.menu__title .heart__icon path {
  fill-opacity: 0;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  stroke-width: 15px;
}

.menu__title .heart__icon path:hover {
  fill-opacity: 1;
}

.menu__title .heart__icon svg {
  margin-top: 10px;
  padding-left: 50px;
}

.menu__title .restaurant__name {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 1.3rem;
  margin-left: 20px;
  margin-top: 20px;
}

.menu__bg {
  height: 50px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  padding: 10px 10px 10px 10px;
}

.menu__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  top: 13px;
}

.menu__confirm {
  background-color: #99e2d0;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */